//Microsoft Developer Studio generated resource script.
//
#include "winver.h"
#include "winresrc.h"
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,7,0,0
 PRODUCTVERSION 1,7,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Aqua Terra Consultants\0"
            VALUE "FileDescription", "HassLib\0"
            VALUE "FileVersion", "1, 7, 0, 0\0"
            VALUE "InternalName", "HassLib\0"
            VALUE "LegalCopyright", "Copyright © 1994-2000\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "HASS_LIB.DLL\0"
            VALUE "ProductName", "Hass Lib DLL\0"
            VALUE "ProductVersion", "1, 7, 0, 0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
